<!DOCTYPE html>
<html ng-app="kalenderExampleAngular">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Kalender Example Angular</title>
        <link rel="stylesheet" href="../shared/index.css" type="text/css" media="all" />
    </head>
    <body ng-controller="MainController">
        <h1>Kalender Example Angular</h1>

        <ng-form="date-form">
            <p>
                <input name="selection-date-1" type=date ng-model=selection.dates[0] />
                <input name="selection-date-2" type=date ng-model=selection.dates[1] />
            </p>

            <p>
                <kalender selection=selection.dates[0] highlights=selection.dates week-start=weekStart></kalender>
                <kalender selection=selection.dates[1] highlights=selection.dates week-start=weekStart></kalender>
            </p>
        </ng-form>
        
        <script src="../../node_modules/kalender/dist/kalender.js"></script>
        <script src="../../node_modules/angular/angular.js"></script>
        <script src="../shared/util.js"></script>
        <script src="./index.js"></script>
    </body>
</html>
